<!DOCTYPE html>
<html ng-app="hsDashboard">
<head lang="en">
  <meta charset="UTF-8">
  <title>Hearthstone API dashboard</title>
  <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css"/>
</head>
<body>

  <div ng-controller="OverviewCtrl">
    <!--<pre>{{ cards | json }}</pre>-->

    <table class="table">
      <thead>
        <tr>
          <th>Name</th>
          <th>Type</th>
          <th>Rarity</th>
          <th>Class</th>
          <th>Cost</th>
          <th>Attack</th>
          <th>Health</th>
          <th>Category</th>
          <th>Version</th>
          <th>ID</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><input type="text" ng-model="filter.name"/></td>
        </tr>
        <tr ng-repeat="card in cards | filter:filter.name">
          <td>{{ card.cardName | localized | htmlDecode }}</td>
          <td>{{ card.cardType }}</td>
          <td>{{ card.rarity }}</td>
          <td>{{ card.class }}</td>
          <td>{{ card.cost }}</td>
          <td>{{ card.attack }}</td>
          <td>{{ card.health }}</td>
          <td>{{ card.category }}</td>
          <td>{{ card.version }}</td>
          <td>{{ card.cardID }}</td>
        </tr>
      </tbody>
    </table>
  </div>

  <script src="bower_components/angular/angular.js"></script>

  <script src="src/app.js"></script>
  <script src="src/controllers/overview.js"></script>
  <script src="src/filters/html-decode.js"></script>
  <script src="src/filters/localized.js"></script>

</body>
</html>
